# Core fine-tuning dependencies
torch==2.8.0
unsloth==2025.8.7

# Core evaluation dependencies
google-genai==1.31.0

# Jupyter lab / notebooks
jupyterlab==4.4.6

# Parsing utils
spacy==3.8.7
yake==0.6.0